@import "./common.scss";

.container {
    margin-bottom: 40px;
}

.button {
    @include common-fied-style(auto);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}
