@mixin common-fied-style($width: 100%) {
    transition: background var(--theme-transition),
        color var(--theme-transition);
    border: 2px solid transparent;
    box-shadow: var(--element-shadow);
    border-radius: var(--border-radius);
    background: var(--light-background);
    font-size: 1rem;
    color: var(--text-color);
    padding: 20px;
    width: $width;

    &:focus {
        border-color: var(--input-focus-border-color);
        outline: 0;
    }
}
