@import "./common.scss";

.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.title {
    font-size: 2.4rem;
    font-weight: 800;
    margin: 0 0 16px;
}

.text {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 30px;
}

.reloadBtn {
    @include common-fied-style(auto);
    padding: 20px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: auto;
}

.icon {
    margin-right: 10px;
}
