.header {
    background: var(--light-background);
    color: var(--text-color);
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding: 24px 0;
    transition: background var(--theme-transition);
    box-shadow: var(--element-shadow);
    z-index: 1000;
}

.link {
    color: var(--text-color);
    text-decoration: none;
}

.title {
    margin: 0;
    font-size: 1.1rem;
    transition: color var(--theme-transition);

    @media (min-width: 480px) {
        font-size: 1.6rem;
    }
}

.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
