@import-normalize;
@import "theme";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    flex-shrink: 1;
}

html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: background var(--theme-transition),
        color var(--theme-transition);
    background: var(--dark-background);
    color: var(--text-color);
}
